In [1]:
import pandas as pd

In [2]:
METADATA_PATH = "../data/GSE69529_metadata.csv"
TPMDATA_PATH = "../data/GSE69529_TPM_genesymbol.csv"

meta = pd.read_csv(METADATA_PATH)
tpm = pd.read_csv(TPMDATA_PATH)

In [3]:
meta.head()

,lib_id,sample_name,infection_group,"age, months",age_group,who_score,sex,"height, m","weight, kg","wbc, 10^6/L",...,"lymphocytes, 10^6/L","monocytes, 10^6/L","eosinophils, 10^6/L","basophils, 10^6/L","red blood cell, 10^6/uL","platelets, cells/uL",highest_temp,duration_days,days_past_onset,rotavirus vaccine doses
0,lib6081,CO061,HC,11,<2y,Control,female,0.9,12.7,10330,...,3900,480,280,110,3.98,370890,36.5,NaN,NaN,2
1,lib6105,CO062,HC,48,2y+,Control,female,0.91,13.0,10330,...,3900,480,280,110,3.98,370890,36.6,NaN,NaN,0
2,lib6129,CO063,HC,48,2y+,Control,female,0.9,14.9,6500,...,3480,420,310,50,4.14,379000,36.5,NaN,NaN,0
3,lib6153,CO024,HC,15,<2y,Control,male,0.77,11.8,11310,...,5900,580,180,100,3.46,261000,36.6,NaN,NaN,2
4,lib6177,CO013,HC,16,<2y,Control,male,1.2,15.0,5570,...,3800,30,20,80,4.75,370940,35.7,NaN,NaN,2

In [4]:
tpm.head()

,HGNC symbol,CT032,CT056,CA711,CA714,CA772,CA805,CA807,CA584,CA595,...,CA709,CA710,CA712,CA753,CA781,CA785,CA787,CA789,CA793,CA804
0,TSPAN6,0.609483,1.138307,0.303372,0.309331,0.702532,0.548189,0.791069,0.294699,0.268829,...,0.142801,0.773038,0.143074,0.153090,0.145910,0.000000,0.157393,0.151015,0.166901,0.000000
1,DPM1,14.752962,14.124655,8.381786,12.252395,8.657229,10.722663,13.693996,10.087624,10.911048,...,10.684007,12.777021,12.943259,8.159890,8.062634,8.480573,13.776863,8.123168,14.201050,8.307122
2,SCYL3,9.438976,13.877988,8.696817,12.435085,8.241027,11.199208,11.990512,9.807656,12.312781,...,7.152194,11.513419,9.051616,10.795047,8.750298,8.105673,9.646354,6.070795,8.689229,7.896645
3,C1orf112,1.041941,0.972995,0.576255,0.822603,1.708106,2.082567,2.284004,1.231516,2.655328,...,3.254996,1.527118,0.978365,1.163173,0.886900,0.841076,1.793804,1.606376,1.268112,0.576221
4,FGR,1169.362164,783.015686,799.739017,768.773694,1609.549132,1623.412430,788.532800,1148.415057,867.683553,...,1120.049571,705.446919,1142.914480,1929.658189,2445.437877,1481.060599,1957.302082,1340.235235,1083.213222,2139.496443

In [28]:
sample_name_on_tpm = list(tpm.columns[1:])
sample_name_on_meta = list(meta["sample_name"])

available_sample = list(set(sample_name_on_tpm) & set(sample_name_on_meta))
unavailable_sample = list(set(sample_name_on_tpm) - set(sample_name_on_meta))

print("Available sample: ", len(available_sample))
print("Unavailable sample: ", len(unavailable_sample))

Available sample:  164
Unavailable sample:  39

In [44]:
meta.shape

(193, 21)

In [36]:
len(unavailable_sample) / len(sample_name_on_tpm) * 100

19.21182266009852

In [47]:
unavailable_sample_on_tpm = list(set(sample_name_on_meta) - set(sample_name_on_tpm))

len(unavailable_sample_on_tpm) / len(sample_name_on_meta) * 100

15.025906735751295

In [49]:
len(unavailable_sample_on_tpm) + len(unavailable_sample)

68

In [43]:
meta[meta["sample_name"].isin(available_sample)]["infection_group"].value_counts()

infection_group
Rotavirus     52
Ecoli         42
Shigella      36
Salmonella    34
Name: count, dtype: int64

In [35]:
meta.columns

Index(['lib_id', 'sample_name', 'infection_group', 'age, months', 'age_group',
       'who_score', 'sex', 'height, m', 'weight, kg', 'wbc, 10^6/L',
       'neutrophils, 10^6/L', 'lymphocytes, 10^6/L', 'monocytes, 10^6/L',
       'eosinophils, 10^6/L', 'basophils, 10^6/L', 'red blood cell, 10^6/uL',
       'platelets, cells/uL', 'highest_temp', 'duration_days',
       'days_past_onset', 'rotavirus vaccine doses'],
      dtype='object')